@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "PT Sans", "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-transform: uppercase;
}

.main-nav {
  text-align: center;
}

.main-nav__list {
  margin: 0 auto;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__link {
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

.main-hero {
  display: block;
  background: #f2f2f2 url("/img/back-mobile.jpg") no-repeat center;
  padding: 85px 20px;
}

.advantages {
  margin: 0 auto;
  text-align: center;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__item--image {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__item--text {
  background-color: #f2f2f2;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages__number,
.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-town__list {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.advantages-town__item {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #f2f2f2;
}

.advantages-town__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.advantages-town__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-intro__title {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.advantages-intro__text {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

.search-hotel {
  padding: 33px 18px 49px 18px;
}

.search-hotel__title {
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  line-height: 26px;
}

.search-hotel__description {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.search-hotel__button {
  display: block;
  padding: 16px 32px;
  box-sizing: border-box;
}

.page-footer {
  padding: 27px 77px;
}

.page-footer__hashtag {
  font-weight: 700;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  background: #81b3d2;
}

.copyright__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.reviews-intro__title {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.reviews-intro__text {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.form__fieldset {
  border: none;
}

.form__title {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.form__label {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

.form__button {
  border: none;
}

.form__remark {
  font-weight: 400;
  color: #333333;
  font-size: 12px;
  line-height: 21px;
  opacity: 0.6;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__title-foto {
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.gallery__author-foto {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
}

.gallery__like-button {
  border: none;
  background-color: #ffffff;
}

.gallery__foto-like-number {
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}

.gallery-intro__title {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.gallery-intro__text {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.video-clip__button {
  border: none;
  background-color: #ffffff;
}

.button {
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  text-decoration: none;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */