.advantages-town__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  text-align: initial;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages-town__item {
  padding: 31px 22px 2px 66px;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  background-position: 20px 25px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: calc(100% / 3);
    box-sizing: border-box;
    background-position: 50% 23%;
    background-size: 30%;
    padding: 155px 33px 60px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 167px 50px 68px;
    background-size: 20%;
    background-position: 50% 25%;
  }

  &--rent {
    background-image: url("../img/icon-house.svg");

    @media (min-width: $desktop-width) {
      background-position: 50% 26%;
    }
  }

  &--food {
    background-image: url("../img/icon-burger.svg");

    @media (min-width: $tablet-width) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: $desktop-width) {
      background-position: 49% 27%;
    }
  }

  &--gift {
    background-image: url("../img/icon-gift.svg");
    padding-bottom: 46px;

    @media (min-width: $tablet-width) {
      padding-left: 40px;
      padding-right: 40px;
      background-size: 26% 24%;
      background-position: 51% 24%;
    }

    @media (min-width: $desktop-width) {
      background-size: 20% 23%;
      background-position: 50% 26%;
      padding-top: 171px;
    }
  }
}

.advantages-town__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black-font-color;
  margin: 0;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-bottom: 26px;

    &--food {
      padding-bottom: 24px;
    }

    &--gift {
      padding-bottom: 21px;
    }
  }
}

.advantages-town__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $gray-font-color;
  margin: 0;
  padding: 0;
}

.advantages-town__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages-town__description--break br {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
