.advantages-intro {
  display: block;
  width: 100%;
}

.advantages-intro__title {
  @include bold-font-black;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 34px 32px 28px 30px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 49px 150px 22px 150px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 300px 22px;
  }
}

.advantages-intro__text {
  @include normal-font-black;
  font-size: 14px;
  line-height: 21px;
  padding: 8px 18px 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;
  }
}
