.button {
  @include bold-font-white;
  font-size: 21px;
  line-height: 26px;
  background-color: $blue-background-color;
  text-decoration: none;
  text-align: center;
  display: inline-block;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
