.control {
  margin: 0 auto;
  list-style-type: none;
  width: 280px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 648px;
    box-sizing: border-box;

    &--radio {
      padding: 0 36px;
      column-gap: 17px;
    }

    &--checkbox {
      padding: 0 84px;
      column-gap: 35px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    width: 960px;


    &--radio {
      padding: 0 0 36px 53px;
      gap: 20px;
    }

    &--checkbox {
      grid-template-columns: repeat(4, max-content);
      padding: 13px 0 0 43px;
      gap: 65px;
    }
  }
}


.control__label {
  @include bold-font-black;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  display: flex;
  align-items: center;
  height: 46px;
  padding-left: 62px;
  cursor: pointer;
  text-transform: none;
}

.control__mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}

.control--radio .control__mark {
  border-radius: 50%;
}

.control--radio .control__field:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
  transition: all 0.2s ease-in-out;
}

.control--checkbox .control__field:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
}

.control__field:hover + .control__mark,
.control__field:focus + .control__mark {
  background-color: #e5e5e5;
}

.control__field:active + .control__mark {
  background-color: #d5d5d5;

  &::before {
    opacity: 0.3;
  }
}

.control__field:disabled + .control__mark {
  background-color: #e8afaf;
  opacity: 0.2;
}
