.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 60px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 64px;
  }
}

.form__fieldset-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.form__fieldset {
  border: none;
  padding: 24px 20px 22px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 100%;
    margin-bottom: 48px;
    border-bottom: none;

    &--attraction {
      margin-bottom: 42px;
    }

    &--emotions {
      margin-bottom: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;

    &--impact {
      margin-bottom: 37px;
    }

    &--attraction {
      margin-bottom: 87px;
    }

    &--emotions {
      margin-bottom: 43px;
    }
  }
}

.form__fieldset--user-name {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0 43px 0 0;
    border-top: 0;
    border-right: 1px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    padding: 0 63px 0 0;
  }
}

.form__fieldset--user-contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-left: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 464px;
  }
}

.form__title {
  @include bold-font-black;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;

    &--user-name {
      margin-left: 38px;
    }


    &--user-contacts {
      margin-right: 19px;
    }

    &--border::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 19%;
      height: 1px;
      background-color: #dbdbdb;
    }

    &--border::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 19%;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: $desktop-width) {
    &--user-name {
      margin-left: 58px;
    }

    &--user-contacts {
      margin-right: 30px;
    }

    &--border::before,
    &--border::after {
      width: 280px;
    }

    &--border {
      margin-bottom: 45px;
    }

    &--textarea {
      margin-bottom: 30px;
    }
  }
}

.form__title br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  &--user-phone {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      background-image: url("../img/phone-icon.svg");
      background-repeat: no-repeat;
      background-color: #e6e6e6;
      background-position: center;
    }

    @media (min-width: $tablet-width) {
      margin-left: 18px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 38px;
    }
  }

  &--user-mail {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      background-image: url("../img/email-icon.svg");
      background-repeat: no-repeat;
      background-color: #e6e6e6;
      background-position: center;
    }

    @media (min-width: $tablet-width) {
      margin-left: 18px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 38px;
    }
  }
}

.form__label--user-phone .form__field,
.form__label--user-mail .form__field {
  padding: 16px 58px 16px 16px;
}

.form__field {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  color: $black-font-color;
  background-color: $gray-background-color;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 17px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }


  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  &--emotions {
    width: 100%;
    height: 150px;
    margin-top: 3px;
    padding: 16px;
    font-size: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 26px;
    font-weight: 700;
    border: none;
    background-color: #f2f2f2;
    box-sizing: border-box;
    outline: none;
    resize: none;

    @media (min-width: $tablet-width) {
      height: 160px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 10%;
      width: 768px;
      padding: 17px 16px;
    }

    &:hover {
      background-color: $gray-background-color;
    }

    &:focus {
      background-color: #f2f2f2;
      box-shadow: inset 0 0 0 4px #e5e5e5;
    }
  }
}

.form__text {
  margin-left: 14px;
  letter-spacing: -1px;
}

.form__button-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 33px;
  gap: 2px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 10%;
  }
}

.form__button {
  border: none;
  padding: 16px 32px;
  text-transform: uppercase;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 16px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 100px;
  }
}

.form__remark {
  @include normal-font-black;
  font-size: 12px;
  line-height: 21px;
  opacity: 0.6;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    align-self: center;
  }
}
