.gallery-intro {
  text-align: center;

  &--foto {
    padding: 37px 20px 38px;

    @media (min-width: $tablet-width) {
      padding: 66px 165px 56px;
    }

    @media (min-width: $desktop-width) {
      padding: 98px 379px 63px;
    }
  }

  &--video {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      padding-top: 38px;
    }
  }
}

.gallery-intro__title {
  @include bold-font-black;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 0 0 33px;
  }
}

.gallery-intro__text {
  @include normal-font-black;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.gallery-intro__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
