.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 60px 18px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px 0 18px;
  }
}

.gallery__item {
  position: relative;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding: 25px 20px 25px;


  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }
  }
}

.gallery__foto {
  display: block;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 267px;
  }

  &--first {
    @media (min-width: $tablet-width) {
      height: 400px;
    }
  }
}

.gallery__foto-footer {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr repeat(2, min-content);
    padding: 21px 20px 17px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__title-foto {
  @include bold-font-black;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    color: $white-font-color;
  }
}

.gallery__author-foto {
  @include normal-font-black;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  margin: 0 0 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    color: $white-font-color;
  }
}

.gallery__like-wrapper {
  display: flex;
  gap: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 3;
    align-items: center;
  }
}

.gallery__like-button {
  border: none;
  background: url("../img/like-icon.svg") no-repeat;
  width: 23px;
  height: 21px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    background-image: url("../img/like-icon-white.svg");
  }
}

.gallery__foto-like-number {
  @include bold-font-black;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-top: 6px;

  @media (min-width: $desktop-width) {
    color: $white-font-color;
  }
}
