.hero {
  display: block;
  background-color: $gray-background-color;
  background-image:  url("../img/divider.svg"), url("../img/hero-back.jpg");
  background-repeat: no-repeat;
  padding: 53px 20px 62px 20px;
  text-align: center;
  background-position: 50% 100%, 50% 100%;
  background-size: 172%, 285%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/divider.svg"), url("../img/hero-back@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 93px 0 113px;
    background-size: 156%, 156%;
  }

  @media (min-width: $desktop-width) {
    background-size: 100%, 100%;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    width: 456px;
    height: 78px;
  }
}
