.main-hero {
  display: block;
  background-color: $gray-background-color;
  background-image: url("../img/divider.svg"), url("../img/hero-back.jpg");
  background-repeat: no-repeat;
  padding: 89px 10px 81px;
  text-align: center;
  background-position: 50% 100%, 50% 25%;
  background-size: 172%, 285%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/divider.svg"), url("../img/hero-back@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 77px 0 86px;
    background-size: 156%, cover;
  }

  @media (min-width: $desktop-width) {
    background-size: 100%, 100%;
  }
}

.main-hero__image {
  @media (min-width: $tablet-width) {
    width: 450px;
    height: 350px;
  }
}
