.page-footer {
  padding: 20px 0 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 20px 61px 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &--main {
      padding: 20px 73px 36px 61px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 37px 120px 36px;

    &--main {
      padding: 37px 133px 36px 122px;
    }
  }
}

.page-footer__hashtag {
  @include bold-font-black;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
