.page-footer {
  padding: 27px 0 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 36px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

.page-footer__hashtag {
  @include bold-font-black;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
