.reviews-intro {
  text-align: center;
  padding: 36px 5% 0;

  @media (min-width: $tablet-width) {
    padding: 64px 140px 77px;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 356px 41px;
  }
}

.reviews-intro__title {
  @include bold-font-black;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.reviews-intro__text {
  @include normal-font-black;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 28px;
}
