.reviews-intro {
  text-align: center;
  padding-top: 36px;
}

.reviews-intro__title {
  @include bold-font-black;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}

.reviews-intro__text {
  @include normal-font-black;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 67px;
  }
}
