.search-hotel {
  padding: 33px 18px 49px 18px;
  text-align: center;
}

.search-hotel__title {
  @include bold-font-black;
  font-size: 21px;
  line-height: 18px;
}

.search-hotel__description {
  @include normal-font-black;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.search-hotel__button {
  display: block;
  padding: 16px 32px;
  box-sizing: border-box;
}
