.social__list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 6px;
  margin: 0 0 40px;
  justify-content: center;
  list-style-type: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 9px;

    &--inner {
      margin: 0 0 0 -6px;
    }
  }
}

.social__item {
  background: $blue-background-color;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #669ec0;
  }
}

.social__link:active .social__icon {
  opacity: 0.3;
}
