$blue-background-color: #81b3d2;
$gray-background-color:#f2f2f2;
$black-font-color: #000000;
$gray-font-color: #333333;
$white-font-color: #ffffff;

@mixin bold-font-black {
  font-weight: 700;
  color: $black-font-color;
}

@mixin normal-font-black {
  font-weight: 400;
  color: $gray-font-color;
}

@mixin bold-font-white {
  font-weight: 700;
  color: $white-font-color;
}

@mixin normal-font-white {
  font-weight: 400;
  color: $white-font-color;
}

@mixin bold-font-advantages {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

@mixin normal-font-advantages {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
